MeLi_Ads_TLC.json
{
  "name": "MeLi Ads TLC",
  "nodes": [
    {
      "parameters": {
        "path": "meli-ads-live",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7b2bd6bd-d061-4f67-ac05-2489a4939e53",
      "webhookId": "ae22c94d-df13-4834-9d16-2cd30f4c847a"
    },
    {
      "parameters": {
        "functionCode": "const action = $json.query.action || 'campaigns';\nconst advertiserId = $json.query.advertiser_id || '51730';\nconst campaignId = $json.query.campaign_id || '';\nconst dateFrom = $json.query.date_from || '';\nconst dateTo = $json.query.date_to || '';\nconst limit = $json.query.limit || '50';\nconst offset = $json.query.offset || '0';\n\nconst METRICS = 'clicks,prints,ctr,cost,cpc,acos,roas,direct_amount,indirect_amount,total_amount,direct_units_quantity,indirect_units_quantity,units_quantity,cvr';\n\nconst metricsParams = (dateFrom && dateTo) \n  ? `&date_from=${dateFrom}&date_to=${dateTo}&metrics=${METRICS}&metrics_summary=true`\n  : '';\n\nlet url = '';\n\nif (action === 'advertiser') {\n  url = `https://api.mercadolibre.com/advertising/advertisers?product_id=PADS`;\n}\nelse if (action === 'campaigns') {\n  url = `https://api.mercadolibre.com/advertising/advertisers/${advertiserId}/product_ads/campaigns?limit=${limit}&offset=${offset}${metricsParams}`;\n}\nelse if (action === 'ads') {\n  // Endpoint correcto: /product_ads/items con filtro por campaign_id usando filters[campaign_id]\n  const campaignFilter = campaignId ? `&filters%5Bcampaign_id%5D=${campaignId}` : '';\n  url = `https://api.mercadolibre.com/advertising/advertisers/${advertiserId}/product_ads/items?limit=${limit}&offset=${offset}${metricsParams}${campaignFilter}`;\n}\nelse if (action === 'metrics') {\n  url = `https://api.mercadolibre.com/advertising/advertisers/${advertiserId}/product_ads/campaigns?limit=${limit}&date_from=${dateFrom}&date_to=${dateTo}&metrics=${METRICS}&metrics_summary=true`;\n}\n\nreturn [{ json: { action, url, advertiserId, campaignId, dateFrom, dateTo } }];"
      },
      "name": "Armar URL",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "d49da4ae-14b1-4821-9416-78ce252ed6f8"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "url": "={{ $json.url }}",
        "jsonParameters": true,
        "options": {
          "fullResponse": false,
          "ignoreResponseCode": true
        }
      },
      "name": "Mercado Libre Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "0cbd1dc3-a750-4e0a-84d7-99535858acdf",
      "credentials": {
        "oAuth2Api": {
          "id": "sCRlvBlGO4LrkafR",
          "name": "MeLi TLC"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "name": "Respuesta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "465adab7-a3ef-458e-95ba-724b26eb681c"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Armar URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar URL": {
      "main": [
        [
          {
            "node": "Mercado Libre Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mercado Libre Ads": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9b5ad9dd-cb2b-4ad7-bc9f-f03443cb32bc",
  "meta": {
    "instanceId": "28c317b99ab98cf75648397ebfa4ed87012abb048409399ffd25a2868eaa7829"
  },
  "id": "ouOpR4Wi8HeeUTnn",
  "tags": []
}