MeLi_Inbox_TLC.json
{
  "name": "MeLi Inbox TLC",
  "nodes": [
    {
      "parameters": {
        "path": "meli-inbox-tlc",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b1c2d3e4-0001-0001-0001-000000000001",
      "webhookId": "b1c2d3e4-0001-0001-0001-000000000001"
    },
    {
      "parameters": {
        "functionCode": "const q = $json.query || {};\nconst b = $json.body || {};\nconst action = q.action || 'questions';\nconst sellerId = '221081730';\nconst limit = q.limit || '50';\nconst offset = q.offset || '0';\n\nlet url = '';\nlet method = 'GET';\nlet body = {};\n\nif (action === 'questions') {\n  const status = q.status || 'UNANSWERED';\n  url = `https://api.mercadolibre.com/questions/search?seller_id=${sellerId}&status=${status}&limit=${limit}&offset=${offset}&sort.field=date_created&sort.order=DESC`;\n}\nelse if (action === 'question_detail') {\n  url = `https://api.mercadolibre.com/questions/${q.question_id}`;\n}\nelse if (action === 'answer') {\n  method = 'POST';\n  url = `https://api.mercadolibre.com/answers`;\n  body = { question_id: Number(b.question_id || q.question_id), text: b.text || q.text };\n}\nelse if (action === 'messages_unread') {\n  url = `https://api.mercadolibre.com/messages/unread?role=seller&tag=post_sale&limit=${limit}&offset=${offset}`;\n}\nelse if (action === 'messages_pack') {\n  const mark = String(q.mark_as_read || 'false');\n  url = `https://api.mercadolibre.com/messages/packs/${q.pack_id}/sellers/${sellerId}?tag=post_sale&mark_as_read=${mark}`;\n}\nelse if (action === 'send_message') {\n  method = 'POST';\n  const packId = b.pack_id || q.pack_id;\n  const buyerId = String(b.buyer_id || q.buyer_id || '3037204685');\n  url = `https://api.mercadolibre.com/messages/packs/${packId}/sellers/${sellerId}?tag=post_sale`;\n  body = { from: { user_id: String(sellerId) }, to: { user_id: buyerId }, text: b.text || q.text };\n}\nelse if (action === 'claims') {\n  const status = q.status || 'opened';\n  url = `https://api.mercadolibre.com/post-purchase/v1/claims/search?stage=claim&status=${status}&limit=${limit}&offset=${offset}&sort=date_created,desc`;\n}\nelse if (action === 'claim_detail') {\n  url = `https://api.mercadolibre.com/post-purchase/v1/claims/${q.claim_id}`;\n}\nelse if (action === 'claim_messages') {\n  url = `https://api.mercadolibre.com/post-purchase/v1/claims/${q.claim_id}/messages`;\n}\nelse if (action === 'order_detail') {\n  url = `https://api.mercadolibre.com/orders/${q.order_id}`;\n}\nelse {\n  return [{ json: { error: { message: `Acción desconocida: ${action}` } } }];\n}\n\nreturn [{ json: { action, method, url, body, sellerId } }];"
      },
      "name": "Armar URL",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "b1c2d3e4-0002-0002-0002-000000000002"
    },
    {
      "parameters": {
        "method": "={{ $json.method }}",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body || {}) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": true
            }
          }
        }
      },
      "name": "MeLi API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "id": "b1c2d3e4-0003-0003-0003-000000000003",
      "credentials": {
        "oAuth2Api": {
          "id": "sCRlvBlGO4LrkafR",
          "name": "MeLi TLC"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "name": "Respuesta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "b1c2d3e4-0004-0004-0004-000000000004"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Armar URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar URL": {
      "main": [
        [
          {
            "node": "MeLi API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MeLi API": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}